---
import type { ApiArticleArticle } from '../../types/contentTypes';
import { baseApi } from '../logic/BaseApi'
import ArticleCard from './ArticleCard.astro'
import Container from './Container.astro'
import Pagination from './Pagination.astro';

interface Props {
  data: Array<ApiArticleArticle>
}

const { data } = Astro.props
---

<Container>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-16">
    {
      data.map(({attributes}) => (
        <li class="w-full">
          <ArticleCard article={attributes} />
        </li>
      ))
    }
  </ul>

  <!-- <Pagination perPage={5} total={30} /> -->
</Container>
