---
import { baseApi } from '../logic/BaseApi'
import ArticleCard from './ArticleCard.astro'
import Container from './Container.astro'

const data = await baseApi('articles', {
  'populate[0]': 'categories',
  'populate[1]': 'cover_image'
})
---

<Container>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-16">
    {
      data.map((article: any) => (
        <li class="w-full">
          <ArticleCard article={article.attributes} />
        </li>
      ))
    }
  </ul>
</Container>
