---
import ArticleCard from './ArticleCard.astro'
import Container from './Container.astro'

const articles = [
  {
    title: '11111111',
    description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, pariatur.',
    category: [{ title: 'first' }, { title: 'second' }]
  },
  {
    title: '2222222',
    description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, pariatur.',
    category: [{ title: 'first' }, { title: 'second' }]
  },
  {
    title: '333333333',
    description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, pariatur.',
    category: [{ title: 'first' }, { title: 'second' }, { title: 'first' }, { title: 'second' }]
  },
  {
    title: '333333333',
    description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, pariatur.',
    category: [{ title: 'first' }, { title: 'second' }, { title: 'first' }, { title: 'second' }]
  }
]
---

<Container>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-16">
    {
      articles.map((article) => (
        <li class="w-full">
          <ArticleCard article={article} />{' '}
        </li>
      ))
    }
  </ul>
</Container>
