---
import { Icon } from 'astro-icon'
import Container from './Container.astro'
import CategoryTags from './CategoryTags.astro'
---

<section
  style=`background-image:url(${'https://cdn.theatlantic.com/media/mt/science/cat_caviar.jpg'})`
  class="bg-cover bg-center h-80"
>
  <div class="h-full pt-10 relative z-20 bg-black/75">
    <Container>
      <CategoryTags category={[{ title: 'cat1' }, { title: 'cat2' }]} />

      <h2 class="mt-5 font-semibold text-2xl">
        <a
          class="hover:text-teal-500 ease-in duration-200"
          href=""
          >Lorem, ipsum dolor.</a
        >
      </h2>
      <p class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sint a magnam laborum commodi
        iure consequuntur perspiciatis esse. Obcaecati, eius.
      </p>
      <div class="mt-5 flex flex-row items-center justify-between md:flex-col md:items-start">
        <div class="flex items-center gap-2">
          <Icon
            class="w-4 h-4"
            pack="mdi"
            name="calendar"
          />
          <span> 06/07/2023</span>
        </div>
        <a
          class="button cursor-pointer relative overflow-hidden bg-teal-500 transition-all hover:bg-white md:mt-5 py-1 px-3 group"
        >
          <span
            class="w-0 h-0 bg-white absolute bottom-0 left-0 ease-out duration-500 transition-all group-hover:w-full group-hover:h-full -z-1"
          ></span>
          <span
            class="w-full relative text-white transition-colors duration-300 ease-in-out group-hover:text-teal-500 z-10"
          >
            read more
          </span>
        </a>
      </div>
    </Container>
  </div>
</section>
