---
import Container from "./Container.astro";
---

<header class="fixed left-0 right-0 z-50 bg-gray-600">
  <Container>
    <div class="flex justify-between py-5">
      <div>logo</div>
      <ul class="flex gap-5">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </ul>
    </div>
  </Container>
</header>
