---
---

<header class="bg-gray-600">
  <div class="flex justify-between px-10 py-5">
    <div>logo</div>
    <ul class="flex gap-5">
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>
  </div>
</header>
