---
import Menu from "./Menu.astro";
import Container from "./Container.astro";
---

<header class="fixed left-0 right-0 z-50 bg-gray-600">
  <Container>
    <div class="flex justify-between py-5">
      <div>logo</div>

      <Menu />
    </div>
  </Container>
</header>
