---
interface Props {
  href: string;
  title: string;
  class?: string;
}

const { href, title, class: className } = Astro.props;
---

<a
  class="rounded-md px-4 py-1 text-teal-600 transition-all duration-500 ease-out hover:bg-teal-600 hover:text-white"
  class:list={[className]}
  href={href}
>
  {title}
</a>
